
container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    /*width: 70%;*/
    background: #ccc;
    position: absolute;
    /*margin: 20px;*/
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 2;

}

container h1{
    font-size: 25px;
    background: #007bff;
    width: fit-content;
    color: orange;
}
container div{
    font-size: 20px;
}
